@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Fauna+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Fauna One', serif;
    font-weight: 300px;
    color: #3a3a3a;
}

/* headings & logo */

h1, h2 {
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #252525;
}

#logo {
    text-align: center;
    font-size: 300%;
}