@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Fauna+One&display=swap');

/* "*" & BODY */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Fauna One', serif;
    font-weight: 300px;
    color: #3a3a3a;
    background-color: white;
}

/* HEADING & LOGO */

h1, h2 {
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 180%;
    padding-left: 25px;
    margin: 0;
}

/*.border {
    border-bottom: 1px solid #3a3a3a;
    border-width: 100%;
    padding-inline-start: 100%;
}*/

#h1-wik {
    padding-left: 12.5px;
    padding-top: 5px;
    text-align: center;
    color: #333333;
}

#h1-photo {
    padding-left: 25px;
    text-align: center;
    color: #29abe1;
    line-height: 25px;
}

/* hero image */

#hero-image {
    background-image: url('../css/images/PicMonkey\ Collage3.png');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/* nav & links */

nav {
    float: right;
    padding-right: 50px;
    margin: 0;
}

#menu {
    font-size: 130%;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    text-align: center;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    line-height: 60px;
    margin: 10px;
    color: #3a3a3a;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.h1-link {
    text-decoration: none;
}

/* FOOTER */

footer {
  /*  position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    height: 60px;
    padding-top: 0;
    margin: 0;
}

/* footer social-links & icons (footer) */

 .social-links {
    text-align: center;
    border-top: 1px solid #3a3a3a;
    border-width: 50%;
}

.social-links > li {
    display: inline;
    margin: 0.5%;
}

.social-links i {
    font-size: xx-large;
    font-weight: normal;
    padding-top: 2px;
    letter-spacing: 5px;
    color: #3a3a3a;
    margin-top: 3px;
}

/* copyright text & icon (footer) */

.copyright, .copyright i {
    text-align: center;
    padding: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: normal;
}

.copyright {
    font-family: 'Cinzel', serif;
    padding-bottom: 15px;
    margin-top: 3px;
}

/* GALLERY PAGE */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
 div.desc {
    padding: 5px;
    margin: 1px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
    text-align: center;
  }

  #gallery-h2 {
    text-align: center;
    letter-spacing: 4.5px;
    text-decoration-line: underline;
    text-decoration-color: #ccc;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    font-size: xx-large;
    color: #29abe1;
    padding-top: 1%;
    padding-bottom: 5%;
  }

  .gallery-hr {
    padding-bottom: 5px;
  }

  .gallery-h3 {
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: #ccc;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    color: #29abe1;
  }

/* footer (gallery) */

#gallery-footer {
    padding-top: 20%;
}


/* ABOUT PAGE */

/* image (about page) */

#about-section {
    text-align: center;
    padding-top: 1%;
}

#about-image {
    border: 1px solid #ccc;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
    padding: 1%;
 }

/* about me section */

#h2-about {
    text-align: center;
    letter-spacing: 4.5px;
    text-decoration-line: underline;
    text-decoration-color: #ccc;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    font-size: xx-large;
    color: #29abe1;
    padding-top: 2%;
    padding-bottom: 0.5%;
}

#div-about {
    text-align: center;
}

.ul-about {
    text-align: center;
    list-style: none;
}

.about-name {
    text-align: center;
}

.about-age {
    text-align: center;
}

.about-from {
    text-align: center;
}

.h3-about {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-color: #ccc;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    font-size: larger;
    color: #3a3a3a;
}

.p-about {
    letter-spacing: 1px;
    margin: 1px;
}

/* equipment section */

#h2-eq {
    text-align: center;
    letter-spacing: 4.5px;
    text-decoration-line: underline;
    text-decoration-color: #ccc;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    font-size: xx-large;
    color: #29abe1;
    padding-top: 1.5%;
    padding-bottom: 0;
}

#p-nikon {
    padding-left: 62%;
}

#p-samsung {
    padding-right: 56%;
}

#p-nikon, #p-samsung {
    line-height: 10%;
    padding-top: 2%;
    letter-spacing: 2px;
    /*text-decoration-line: underline;
    text-decoration-color: #ccc;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;*/
    font-size: medium;
    color: #3a3a3a;
}

/* images (equipment) */

.row {
    display: flex;
}

.column {
    flex: 1px;
    text-align: center;
}

#nikon {
    height: 80%;
    width: 45%;
    padding-left: 60%;
    line-height: 10%;
}

#samsung {
    height: 60%;
    width: 40%;
    padding-right: 60%;
    padding-bottom: 2.6%;
    padding-top: 4.6%;
    line-height: 10%;
}

/* CONTACT PAGE */

/* logotype image */

#contact-image {
    border: 1px solid #ccc;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
    padding: 1%;
}

/* contact section */

#contact-section {
    padding-top: 1%;
    padding-bottom: 25%;
}

  #contact-div {
    padding-top: 1%;
    color: #3a3a3a;
  }

  .contact-h2-social, .contact-h2-email {
    letter-spacing: 4.5px;
    text-decoration-line: underline;
    text-decoration-color: #ccc;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    font-size: xx-large;
    color: #3a3a3a;
  }

  .contact-h2-social, .contact-h2-email {
    text-align: center;
  }

  #contact-social {
    float: left;
    padding-left: 30%;
    color: #29abe1;
  }

  #contact-social a:hover, #contact-email a:hover {
    border-bottom: 1px solid #3a3a3a;
  }

  #contact-email {
    float: right;
    padding-right: 30%;
    color: #29abe1;
  }

  .ul-email, .ul-social {
    list-style: none;
  }

  .ul-social > li {
    padding-bottom: 1%;
  }

  .contact-li a {
    text-decoration: none;
    color: #29abe1;
  }

  .contact-li a:visited {
    text-decoration: none;
  }

  /* MEDIA QUERIES */

/* For larger to medium screen size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

   
}

/* For small screen sizes 800px and down */
@media screen and (max-width: 800px) {
    
}